<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>
    <div class="container">
        <video autoplay controls>
            <source src="https://research-studies-with-alex.s3.amazonaws.com/vCHE/<%=vhType%>/<%=vh%>_2.mp4" type="video/mp4">
        </video>
        <br/>
        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponent/<%=buttons[i].url%>">
                        <button class="education-navigation selected" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponent/<%=buttons[i].url%>">
                        <button class="education-navigation" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/Discover">
                <button class="green discover">Discover Research Opportunities</button>
            </a>
        </div>
    </div>
</body>
</html>