<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `What are Research Studies?` %>
<% var mainTitleSpanish = `¿Qué son los estudios de investigación?` %>

<% var text1 = `If you have never participated in a research study before, it's normal not to know much about them. <br><br>
A research study uses a carefully designed protocol, or plan, that allows researchers to learn about a patient's health, behavior, or response to a specific treatment or program. There are many different types of research studies. Some research studies are used to test or improve medical, surgical, or behavioral treatments. This could involve testing how well a new medication works for different types of patients or whether a mobile app can help patients quit smoking. Other clinical studies don't involve any treatment and may only ask patients to complete a survey or to be observed in their typical settings to help researchers learn more about patient experiences with things like chronic pain, sleep issues, or mental health. <br><br>
Most of the treatments and tools we use to take care of patients today came from research studies in the past.<br><br>
For example, we learned that mammograms are a good way to screen for breast cancer through a research study to improve screening and diagnosis.<br><br>
Recently, the FDA approved new immune boosting therapies to allow a patient's own immune system. This approval was based on a research study that proved these new therapies were safe and effective compared to standard treatment.<br><br>
In each of these examples, it was only through research studies that we now know how best to screen for, diagnose, treat, and help patients.` %>

<% var text1Spanish = `Si nunca ha participado en un estudio de investigación, es normal que no sepa mucho sobre ellos.<br><br>
Un estudio de investigación utiliza un protocolo, o plan, cuidadosamente diseñado que permite a los investigadores conocer la salud, el comportamiento o la respuesta de un paciente a un tratamiento o programa específico. Hay muchos tipos diferentes de estudios de investigación. Algunos se utilizan para probar o mejorar tratamientos médicos, quirúrgicos o conductuales. Puede tratarse de probar la eficacia de un nuevo medicamento en distintos tipos de pacientes o si una aplicación móvil puede ayudar a los pacientes a dejar de fumar. Otros estudios clínicos no implican ningún tratamiento y pueden limitarse a pedir a los pacientes que rellenen una encuesta o que sean observados en su entorno habitual para ayudar a los investigadores a obtener más información sobre las experiencias de los pacientes con cosas como el dolor crónico, los problemas de sueño o la salud mental. <br><br>
La mayoría de los tratamientos y herramientas que utilizamos hoy en día para atender a los pacientes proceden de estudios de investigación realizados en el pasado.<br><br>
Por ejemplo, aprendimos que las mamografías son una buena forma de detectar el cáncer de mama gracias a un estudio de investigación para mejorar el cribado y el diagnóstico.<br><br>
Recientemente, la FDA ha aprobado nuevas terapias de refuerzo inmunitario para que el propio sistema inmunitario del paciente pueda actuar. Esta aprobación se basó en un estudio de investigación que demostró que estas nuevas terapias eran seguras y eficaces en comparación con el tratamiento estándar.<br><br>
En cada uno de estos ejemplos, sólo gracias a los estudios de investigación sabemos ahora cuál es la mejor forma de detectar, diagnosticar, tratar y ayudar a los pacientes.` %>

<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">

        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title notranslate english"><%=mainTitle%></text-h1>
                <text-h1 class = "main-title-container title notranslate spanish"><%=mainTitleSpanish%></text-h1>
            </div>
            <div class="text-image-area">
                <img class="text-image" src="/images/text-image.jpg"></img>
            </div>
            <div class="text-component-row">
                <div class="text-component-col">
                    <text-p class="notranslate english"><%-text1%></text-p>
                    <text-p class="notranslate spanish"><%-text1Spanish%></text-p>
                </div>
            </div>
            <br>
        </div>

        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation selected notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation selected notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/StudySearch/Role">
                <button class="green discover notranslate english ">Find Research Studies</button>
                <button class="green discover notranslate spanish">Buscar Estudios de Investigación </button> 
            </a>
        </div>
        
    </div>
</body>
<script src="/scripts/videos.js"></script>
</html>