<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `Are Research Studies Safe?` %>

<% var text1 = `In some cases, the types of things you are asked to do in a research study might not be any different than your regular care. For example, some research studies ask people for just a blood sample. Or, you might be asked to allow doctors and scientists to look at your medical records to see if there is something they can learn from your situation. In other cases, being in a research study might involve a new treatment that is only available to people in that study.` %>

<% var text2 = `You should also know that every research study is reviewed many times before it is ever offered to a person. This ensures that it follows a very strict set of rules that require the study to be expertly designed and safe for people at every stage of the process. Once it is approved, a research study follows the same detailed set of instructions, called a protocol. So every carefully monitored participant in the study is guaranteed the tests, treatment, or care exactly as it was approved. Because of this, being involved in a research study brings extra attention to your care. In addition to your doctors and their clinical team, there is also a research study team that will be working with them. This extra attention to the details in your care is above and beyond what would otherwise be standard treatment.`%>

<% var text3 = `In some cases, joining a research study may even simplify some otherwise challenging treatment choices. For example, sometimes there are two or more treatments available that are FDA approved for your situation. If there is no way to know if one is better for you than the other, it is usually reasonable for your doctor to offer you either treatment and let you decide.`%>

<% var text4 = `But, a research study can compare the two such treatments and provide new insight on if or how one might be better, both for you and for other people in the future. In this case, every new person who joins the study may be put into one of the two treatment groups by chance. In other words, the treatment is chosen by randomization. This isn't a bad thing. This process of "random assignment" is only approved when the study team has no idea if one type or amount of treatment is better than another. Both are reasonable options, so the goal is to take a very close look at each one and compare them fairly. Some people find it helpful to think about random assignment like the sex of a new baby. Just like parents can’t choose whether their baby will be born male or female, people can’t choose their treatment group in a randomized study. But in the end, either option will work for you! The bottom line: every treatment offered in a research study must be an acceptable option for you and your care.`%>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">
        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title"><%=mainTitle%></text-h1>
            </div>
            <div class="text-component-row">
                <img class="character-image" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/<%=vh%>.png"/>
                <div class="text-component-col">
                    <text-p><%-text1%></text-p>
                    <text-p><%-text2%></text-p>
                    <text-p><%-text3%></text-p>
                    <text-p><%-text4%></text-p>
                </div>
            </div>
            <br>
        </div>

        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation selected" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/Discover">
                <button class="green discover">Discover Research Opportunities</button>
            </a>
        </div>
        
    </div>
</body>
</html>