<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `Are Research Studies Safe?` %>
<% var mainTitleSpanish = `¿Son seguros los estudios de investigación?` %>

<% var text1 = `In some cases, the types of things you are asked to do in a research study might not be any different than your regular care. For example, some research studies ask patients for just a blood sample. Or you might be asked to allow doctors and scientists to look at your medical records to see if there is something they can learn from your situation.<br><br>
In other cases, being in a research study might involve a new treatment that is only available to patients in that study. It is important to know that research studies start with what is already felt to be the best possible treatment for you and then try to build on that.<br><br>
You should also know that every research study is reviewed many times before it is ever offered to a patient. This ensures that it follows a very strict set of rules that require the study to be expertly designed, important to the future of patient care, and safe for patients at every stage of the process. Once it is approved, a research study must follow the same detailed set of instructions, called a protocol. So, every carefully monitored patient in the study is guaranteed the tests, treatment, or care exactly as it was approved.<br><br>
Because of this, being involved in a research study brings extra attention to your care. In addition to your doctors and their clinical team, there is also a research study team that will be working with them. This extra attention to the details in your care is above and beyond what would otherwise be standard treatment.<br><br>
In some cases, joining a research study may even simplify some otherwise challenging treatment choices. For example, sometimes there are two or more treatments available that are FDA approved for your situation. If there is no way to know if one is better for you than the other, it is usually reasonable for your doctor to offer you either treatment and let you decide.<br><br>
But a research study can compare the two such treatments and provide new insight on if or how one might be better, both for you and for countless future patients. In this case, every new patient who joins the study may be put into one of the two treatment groups by chance. In other words, the treatment is chosen by randomization. This isn't a bad thing. This process of "random assignment" is only approved when doctors have no idea if one type or amount of treatment is better than another. Both are reasonable options, so the goal is to take a very close look at each one and compare them fairly. Some patients find it helpful to think about random assignment like the sex of a new baby. Just like parents can't choose whether their baby will be born male or female, patients can't choose their treatment group in a randomized study. The bottom line: every treatment offered in a research study must be an acceptable and safe option for you and your care.` %>

<% var text1Spanish = `En algunos casos, el tipo de cosas que se le pide que haga en un estudio de investigación puede no ser diferente de su atención habitual. Por ejemplo, en algunos estudios de investigación sólo se pide a los pacientes una muestra de sangre. O puede que le pidan que permita a los médicos y científicos consultar su historial médico para ver si pueden aprender algo de su situación.<br><br>
En otros casos, participar en un estudio de investigación puede implicar un nuevo tratamiento que sólo está disponible para los pacientes de ese estudio. Es importante saber que los estudios de investigación comienzan con lo que ya se considera el mejor tratamiento posible para usted, y luego intentan basarse en ello.<br><br>
También debe saber que cada estudio de investigación se revisa muchas veces antes de ofrecérselo a un paciente. De este modo se garantiza el cumplimiento de una serie de normas muy estrictas que exigen que el estudio esté diseñado por expertos, sea importante para el futuro de la atención al paciente y seguro para los pacientes en todas las fases del proceso. Una vez aprobado, un estudio de investigación debe seguir el mismo conjunto detallado de instrucciones, denominado protocolo, de modo que todos los pacientes del estudio, cuidadosamente supervisados, tengan garantizadas las pruebas, el tratamiento o los cuidados exactamente como se aprobaron.<br><br>
Por ello, participar en un estudio de investigación supone una atención adicional a su atención. Además de sus médicos y su equipo clínico, también hay un equipo del estudio de investigación que trabajará con ellos. Esta atención adicional a los detalles de su tratamiento va más allá de lo que sería el tratamiento estándar.<br><br>
En algunos casos, participar en un estudio de investigación puede incluso simplificar algunas opciones de tratamiento que de otro modo supondrían un reto. Por ejemplo, a veces hay dos o más tratamientos disponibles aprobados por la FDA para su situación. Si no hay forma de saber si uno es mejor para usted que el otro, suele ser razonable que su médico le ofrezca cualquiera de los dos tratamientos y le deje decidir.<br><br>
Sin embargo, un estudio de investigación puede comparar los dos tratamientos y aportar nuevos conocimientos sobre si uno de ellos es mejor o no, tanto para usted como para innumerables pacientes futuros. En este caso, cada nuevo paciente que se incorpora al estudio puede ser incluido en uno de los dos grupos de tratamiento por azar. En otras palabras, el tratamiento se elige al azar. Esto no es malo. Este proceso de "asignación aleatoria" sólo se aprueba cuando los médicos no tienen ni idea de si un tipo o cantidad de tratamiento es mejor que otro. Ambas opciones son razonables, por lo que el objetivo es analizarlas detenidamente y compararlas de forma justa. A algunos pacientes les resulta útil pensar en la asignación aleatoria como si fuera el sexo de un nuevo bebé. Al igual que los padres no pueden elegir si su bebé nacerá varón o mujer, los pacientes no pueden elegir su grupo de tratamiento en un estudio aleatorizado. En resumidas cuentas: todos los tratamientos ofrecidos en un estudio de investigación deben ser una opción aceptable y segura para usted y su cuidado.` %>

<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">
        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title notranslate english"><%=mainTitle%></text-h1>
                <text-h1 class = "main-title-container title notranslate spanish"><%=mainTitleSpanish%></text-h1>
            </div>
            <div class="text-image-area">
                <img class="text-image" src="/images/text-image.jpg"></img>
            </div>
            <div class="text-component-row">
                <div class="text-component-col">
                    <text-p class="notranslate english"><%-text1%></text-p>
                    <text-p class="notranslate spanish"><%-text1Spanish%></text-p>
                </div>
            </div>
            <br>
        </div>

        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation selected notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation selected notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/StudySearch/Role">
                <button class="green discover notranslate english ">Find Research Studies</button>
                <button class="green discover notranslate spanish">Buscar Estudios de Investigación </button> 
            </a>
        </div>
        
    </div>
</body>
<script src="/scripts/videos.js"></script>
</html>