<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `How To Participate In Research And Where To Start?` %>
<% var mainTitleSpanish = `¿Cómo participar y dónde comenzar?` %>

<% var text1 = `Our goal is to give all patients the option to be in research studies because when patients with different backgrounds and experiences participate in studies, the information we learn from study results is relevant to as many people as possible.<br><br>
But not all patients can be offered the same research studies. Every study has specific requirements in order to enroll, such as your diagnosis, the type of treatment you're getting, or your medical history.<br><br>
Sometimes, these eligibility requirements can make looking for and enrolling in research studies pretty overwhelming! That's where my team and I come in. We're working with health researchers to identify a few current research studies that you may be eligible for. So, when we're done, you'll have the option to answer a few questions about yourself, so that we can find some studies that might be a good fit for you. All of your responses will be strictly confidential and will not be shared.` %>

<% var text1Spanish = `Nuestro objetivo es dar a todos los pacientes la opción de participar en estudios de investigación, porque cuando en ellos participan pacientes con diferentes antecedentes y experiencias, la información que obtenemos de los resultados de los estudios es relevante para el mayor número posible de personas.<br><br>
Pero no a todos los pacientes se les pueden ofrecer los mismos estudios de investigación. Cada estudio tiene unos requisitos específicos para poder inscribirse, como su diagnóstico, el tipo de tratamiento que está recibiendo o su historial médico.<br><br>
A veces, estos requisitos pueden hacer que buscar e inscribirse en estudios de investigación resulte bastante abrumador. Ahí es donde entramos mi equipo y yo. Estamos trabajando con investigadores sanitarios para identificar algunos estudios de investigación actuales a los que usted podría optar. Así que cuando hayamos terminado, tendrá la opción de responder a algunas preguntas sobre usted, para que podamos encontrar algunos estudios que podrían ser una buena opción para usted. Todas sus respuestas serán estrictamente confidenciales y no se compartirán.` %>

<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">

        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title notranslate english"><%=mainTitle%></text-h1>
                <text-h1 class = "main-title-container title notranslate spanish"><%=mainTitleSpanish%></text-h1>
            </div>
            <div class="text-image-area">
                <img class="text-image" src="/images/text-image.jpg"></img>
            </div>
            <div class="text-component-row">
                <div class="text-component-col">
                    <text-p class="notranslate english"><%-text1%></text-p>
                    <text-p class="notranslate spanish"><%-text1Spanish%></text-p>
                </div>
            </div>
            <br>
        </div>

        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation selected notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation selected notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation notranslate english" >
                            <%= buttons[i].text %>
                        </button>
                        <button class="education-navigation notranslate spanish" >
                            <%= buttons[i].spanishText %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/StudySearch/Role">
                <button class="green discover notranslate english ">Find Research Studies</button>
                <button class="green discover notranslate spanish">Buscar Estudios de Investigación </button> 
            </a>
        </div>
        
    </div>
</body>
</html>