<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponentText.css" rel="stylesheet" type="text/css">
    <link href="/css/educationalComponent.css" rel="stylesheet" type="text/css">
    <script src="/scripts/checkLanguage.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <title>ALEX</title>
</head>
<!-- Text Variables for Clarity :) -->
<% var mainTitle = `How To Participate In Research And Where To Start?` %>

<% var text1 = `Our goal is to give all people the option to be in research studies because when people with different backgrounds and experiences participate in studies, the information we learn from study results is relevant to as many people as possible. But, not all people can be offered the same research studies. Every study has specific requirements in order to enroll, such as age, sex, or type of disease. Some may even ask for only healthy participants, with no major health concerns. Sometimes, these eligibility requirements can make looking for and enrolling in research studies pretty overwhelming! That’s where my team and I come in. We’re working with health researchers at the University of Florida to identify a few current research studies that you may be eligible for. So when we’re done, you’ll have the option to answer a few questions about yourself, so that we can find some studies that might be a good fit for you. All of your responses will be strictly confidential and will not be shared.` %>

<% var text2 = `You can discuss these studies with your doctor or directly contact the study team for more information. And remember: even if you reach out to a study team, your participation is always voluntary. You can choose not to participate or drop out of a study at any time. You can also ask your doctor if there are any research studies happening right now that you should consider. If there are, you can ask more specific questions based on what I shared with you today. When we’re done, you’ll have another option to download our guide, which includes a list of questions you may want to ask.`%>
<body>
    <div id="load">
        <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    </div>
    <header>
        <%- include('../../../partials/header'); %>
    </header>

    <!-- Main Content -->
    <div class="text-container">

        <!-- Main Text Content -->
        <div class ="content-container">
            <div class = "title-container">
                <text-h1 class = "main-title-container title"><%=mainTitle%></text-h1>
            </div>
            <div class="text-component-row">
                <img class="character-image" src="https://research-studies-with-alex.s3.amazonaws.com/vCHE-images/<%=vh%>.png"/>
                <div class="text-component-col">
                    <text-p><%-text1%></text-p>
                    <text-p><%-text2%></text-p>
                </div>
            </div>
            <br>
        </div>

        <div class="navigation-area">
            <% for (var i = 0; i < buttons.length; i++) { %>
                <% if (buttons[i].url === url) { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation selected" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } else { %>
                    <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/EducationalComponentText/<%=buttons[i].url%>">
                        <button class="education-navigation" >
                            <%= buttons[i].text %>
                        </button>
                    </a>
                <% } %>
            <% } %>
        </div>
        <div class="discover-button-area">
            <a href="/<%=id%>/<%=interventionType%>/<%=vh%>/Discover">
                <button class="green discover">Discover Research Opportunities</button>
            </a>
        </div>
        
    </div>
</body>
</html>